<h1>ツイート一覧</h1>
<% @tweets.each do |tweet| %>
  <div>
    <h4>
      <%= tweet.content %>
    </h4>
    <p>
      <%= tweet.created_at.to_s.slice(0..19) %>
    </p>
  </div>
<% end %>

<%= link_to "ツイートを新規登録する", new_tweet_path %>
